.about-page {
	position: relative;
	background-image: url('../../../../public/assets/images/commons/background/bg_01.svg');
	background-color: var(--color-surface-100);
}

.about-section {
	@apply pt-[85px] p-[20px] h-screen max-w-[1240px] m-auto;
}
