@layer tailwind {
	@tailwind base;
}

@tailwind components;
@tailwind utilities;

@import url('./variables/light.css');
@import url('./variables/dark.css');
@import url('./animations/index.css');

* {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
}

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--color-link-badge) var(--color-surface-300);
}